@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-touch-callout: none; /* Prevent callout to copy image, etc when touch hold */
  -webkit-user-select: none; /* Prevent copy paste, to allow, change 'none' to 'text' */
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}
